<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    @*<ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">*@
    <ul class="page-sidebar-menu  page-header-fixed hidden-sm hidden-xs" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
        <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
        <li class="sidebar-toggler-wrapper hide">
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <div class="sidebar-toggler">
            </div>
            <!-- END SIDEBAR TOGGLER BUTTON -->
        </li>
        <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
        <li class="sidebar-search-wrapper">
            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
            <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
            <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
            <!-- END RESPONSIVE QUICK SEARCH FORM -->
        </li>
        @if (((BenzerYazilimPanel.User)Session["user"]).Admin == true)
        {
            <li class="nav-item" id="PERSONEL_LI">
                <a href="@Url.Action("Person", "Admin")" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Şahıs/Bayi İşlemleri</span>
                    <span class="arrow "></span>

                </a>
                <ul class="sub-menu">
                        <li id="liPersonel">
                            <a href="@Url.Action("Personel", "Admin")">
                                <i class="icon-bar-chart"></i>
                                Şahıs/Bayi İşlem
                            </a>
                        </li>
                        <li id="liOrders">
                            <a href="@Url.Action("Orders", "Admin")">
                                <i class="icon-graph"></i>
                                Siparişler
                            </a>
                        </li>

                    </ul>
            </li>
            <li class="nav-item" id="ADMIN_LI">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-basket"></i>
                    <span class="title">Admin Modülü</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li id="liProducts">
                        <a href="@Url.Action("Products", "Admin")">
                            <i class="icon-home"></i>
                            Ürünler
                        </a>
                    </li>
                    <li id="liSMTP">
                        <a href="@Url.Action("SmtpSettings", "Admin")">
                            <i class="icon-home"></i>
                            Smtp Ayarları
                        </a>
                    </li>
                    
                </ul>
            </li>
        }
        else
        {
            <li class="nav-item" id="SIPARIS_LI">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-basket"></i>
                    <span class="title">Sipariş Modülü</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li İD="liNewOrder">
                        <a href="@Url.Action("NewOrder", "Admin")">
                            <i class="icon-home"></i>
                            Sipariş Oluştur
                        </a>
                    </li>
                    <li id="liOldOrders">
                        <a href="@Url.Action("OldOrders", "Admin")">
                            <i class="icon-tag"></i>
                            Eski Siparişler
                        </a>
                    </li>



                </ul>
            </li>
        }
        
        

    </ul>
    <!-- END SIDEBAR MENU -->


    <div class="page-sidebar-wrapper">
        <!-- BEGIN RESPONSIVE MENU FOR HORIZONTAL & SIDEBAR MENU -->
        <ul class="page-sidebar-menu visible-sm visible-xs  page-header-fixed">
            <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
            <!-- DOC: This is mobile version of the horizontal menu. The desktop version is defined(duplicated) in the header above -->

            <li class="nav-item start active open">
                <a href="index.html" class="nav-link nav-toggle">
                    Menü
                    <span class="selected"></span>
                    <span class="arrow open"></span>
                </a>
                <ul class="sub-menu">


                    @if (((BenzerYazilimPanel.User)Session["user"]).Admin == true)
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("Person", "Admin")" class="nav-link nav-toggle">
                                <i class="icon-home"></i>
                                <span class="title">Şahıs/Bayi İşlemleri</span>
                                @*    <span class="selected"></span>*@

                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="@Url.Action("Personel", "Admin")">
                                        <i class="icon-bar-chart"></i>
                                        Şahıs/Bayi İşlem
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Orders", "Admin")">
                                        <i class="icon-graph"></i>
                                        Siparişler
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-basket"></i>
                                <span class="title">Admin Modülü</span>
                                <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="@Url.Action("Products", "Admin")">
                                        <i class="icon-home"></i>
                                        Ürünler
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SmtpSettings", "Admin")">
                                        <i class="icon-home"></i>
                                        Smtp Ayarları
                                    </a>
                                </li>

                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-basket"></i>
                                <span class="title">Sipariş Modülü</span>
                                <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="@Url.Action("NewOrder", "Admin")">
                                        <i class="icon-home"></i>
                                        Sipariş Oluştur
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("OldOrders", "Admin")">
                                        <i class="icon-tag"></i>
                                        Eski Siparişler
                                    </a>
                                </li>



                            </ul>
                        </li>
                    }
                </ul>
            </li>

         

         
        </ul>
        <!-- END RESPONSIVE MENU FOR HORIZONTAL & SIDEBAR MENU -->
    </div>
</div>

